.button {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--gray-100);
    background-color: var(--blue-dark);
    border-radius: 8px;
    border: none;
    padding: 1rem;
    transition: background-color 0.15s;
    gap: 0.5rem;
}

.button:hover {
    cursor: pointer;
    background-color: var(--blue);
}