.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    color: var(--gray-300);
    font-size: 1rem;
    border-top: solid 1px #333333;
    border-radius: 8px;
}

.empty img {
    margin-bottom: 1rem;
    height: 3.5rem;
    width: 3.5rem;
}