.input {
    background-color: var(--gray-500);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    flex: 1;
}

.input:active,
.input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #9747FF inset;
}