.wrapper {
    
}

.wrapper > header {
    background-color: var(--gray-700);
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 46rem;
    margin: 0 auto;
}

.formNewTask {
    display: flex;
    gap: 0.5rem;
    margin-top: -1.688rem;
    margin-bottom: 4rem;
}

.created {
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--blue);
    margin-right: 0.5rem;
}

.completed {
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--purple);
    margin-right: 0.5rem;
}

.counter {
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.infoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    color: var(--gray-300);
    font-size: 1rem;
    border-top: solid 1px #333333;
    border-radius: 8px;
}

.empty img {
    margin-bottom: 1rem;
}